<footer >
    <div class="ufooter">
        <div class="fleft">
             <h3><img src="/images/transparent-law-icon-auction-icon-banking-icon-5fd1420f558e49.3815937816075494553504.png" alt="logo" width="30" height="30" alt="logo" style="position: relative; top: -5px;">BidZone</h3>
             Unlock boundless bidding opportunities at BidZone,<br>where experience the thrill of competitive bidding from <br>the comfort of your screen with our dynamic e-auction website.
        </div>
        <div class="fmiddle">
            <h6>MENU</h6>
            <a href="/listings">Home</a>
            <a href="/listings#all-products">Product</a>
            <a href="/listings/aboutUs">About us</a>
            <a href="/listings/aboutUs#ContactUs">Contact Us</a>

        </div>
        <div class="fright">
            <h6>AUTHOR</h6>
            <div class="author">
            <div class="author1">
                <i class="fa-solid fa-envelope"></i>
                <a href="mailto:nitishsaini604@gmail.com">nitishsaini604@gmail.com</a><br>
                <a href="http://www.linkedin.com/in/nitishsaini7" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://www.instagram.com/nitish_saini777/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://twitter.com/NitishS11201228" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
            </div>
        </div>
        </div>
    </div>
    <div class="copyright">
        <p><i class="fa-regular fa-at"></i>Bidzone private limited <br><i class="fa-regular fa-copyright"></i>All copyright reserved</p>
    </div>
</footer>